.tools {
  padding: 20px;
}

.tool-element {
  padding: 20px;
  margin: 20px 0;
  cursor: pointer;
  outline: none;
  background: transparent;
  transition: background 200ms ease-in-out, color 200ms ease-in-out,
    border-radius 1s ease-in-out;
}

.tool--selected {
  background: black;
  color: white;
  border-radius: 555px;
}
